<h1 style="color: red;">Hiiiiiiiiiii {{title}}</h1>
<h1 style="color: red;">Hiiiiiiiiiii {{data.name}}</h1>
<h1 style="color: red;">Hiiiiiiiiiii {{data.age}}</h1>
<div style="display: flex;justify-content: center;">
    <input type="text">
</div>
<h3 routerLink="/">First page</h3>
<p>HI FRENDS {{Str}}</p>
<button (click)="increament()">Increament</button>
<button (click)="decreament()">Decreament</button>

<table>
    <thead>
        <th>name</th>
        <th>age</th>
        <th>place</th>
    </thead>
    <tbody *ngFor="let item of dataOFArray">
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.place}}</td>
        </tr>
    </tbody>
</table>

<i routerLink="home">HOME</i>
<router-outlet />
